<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <!--注解扫描-->
    <!--<context:component-scan base-package="nwafu.ssm.annotation"></context:component-scan>-->

    <!-- 注解处理器<context:annotation-config></context:annotation-config>-->

    <bean id="userDao" class="nwafu.ssm.annotation.UserDaoImpl" autowire="byName"/>
    <bean id="userService" class="nwafu.ssm.annotation.UserServiceImpl" autowire="byName"/>
    <bean id="userController" class="nwafu.ssm.annotation.UserController" autowire="byName"/>
</beans>